/* display panel */
.display {
    text-align: center;
}

.rounds-display {
    min-height: 1rem;
    font-family: 'Russo One', sans-serif;
    opacity: .7;
    font-weight: bold;
    font-size: 1.2rem;
}

.info-display {
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.numbers-display {
    min-height: 7rem;
    font-family: 'Russo One', sans-serif;
    font-size: 6rem;
    color: #fff;
    /* font-weight: bold;   */
    -webkit-text-stroke: 1px var(--font-clr);
}

.controls {
    --container-height: 8rem;
    height: var(--container-height);

    & button {
        background-color: hsla(202, 59%, 57%, 0.3);
        box-shadow: inset 0 0 3px 1px var(--bg-clr);;
        outline: none;
        border: 1px solid var(--font-clr);
        /* border: 1rem solid #eee; */
        /* background-color: teal; */
        position: absolute;
        transform: translateX(-50%);
        height: calc(var(--container-height) - 1rem);
        aspect-ratio: 1 / 1;
        border-radius: 100%;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    & button[data-stop-btn] {
        opacity: 0;
        scale: 0;
        transition: opacity 300ms;
    }

    & button[data-stop-btn].show {        
        opacity: 1;
        scale: 1;
    }
}