@import './blocks.css';
@import './settingsPanel.css';
@import './displayPanel.css';
@import './media-queries.css';

:root {
    --bg-clr: #6eaed2;
    --font-clr: #0b2f51;
    --panel-bg: rgba(255, 255, 255, .45);
    --blur: blur(6px);
    --panel-box-shadow: inset 0 0 12px 4px var(--bg-clr);
    --box-shadow: 0 0 3px 1px #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

button,
input {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #222;
    color: var(--font-clr);
    font-family: sans-serif;
    display: grid;
    min-height: 100dvh;
    background-image: url('../assets/bg-2.jpg');
    background-size: cover;
    background-position: center 30%;
    background-attachment: fixed;
}

