@import './blocks.css';
@import './settingsPanel.css';
@import './displayPanel.css';

:root {
    --bg-clr: #6eaed2;
    --font-clr: #0b2f51;
    --panel-bg: rgba(255, 255, 255, .4);
    --blur: blur(6px);
    --panel-box-shadow: inset 0 0 12px 4px var(--bg-clr);
    --box-shadow: 0 0 3px 1px #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

button,
input {
    cursor: pointer;
}

label {
    font-family: 'Gruppo', sans-serif;
    font-weight: bold;
    font-size: 1.15rem;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #222;
    color: var(--font-clr);
    font-family: sans-serif;
    display: grid;
    min-height: 100dvh;
    background-image: url('../assets/bg-2.jpg');
    background-size: cover;
    background-position: center 30%;
    background-attachment: fixed;
}

/* @container (min-width: 724px) {

        header {
            background: red;
        }
} */


@media (min-height: 667px) {
    .display {
        min-height: 60dvh;
    }
}
@media (min-height: 720px) {
    .display {
        min-height: 62dvh;
    }
}
@media (min-height: 736px) {
    .display {
        min-height: 62dvh;
    }
}
@media (min-height: 740px) {
    .display {
        min-height: 63dvh;
    }
}
@media (min-height: 812px) {
    .display {
        min-height: 66dvh;
    }
}
@media (min-height: 844px) {
    .display {
        min-height: 67dvh;
    }
}
@media (min-height: 896px) {
    .display {
        min-height: 69dvh;
    }
}

/* @media screen and (min-width: 720px) {
    .app {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .display {
        order: 2;
    }
} */
@media screen and (min-width: 1024px) {
    html {
        font-size: 18px;
    }
    .app {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem;
    }
    .app > section {
        padding: 2rem 2rem 1rem;
    }

    .display {
        order: 2;
    }
}
@media screen and (min-width: 1180px) {
    .app {
        max-width: 1100px;
        grid-template-columns: 2fr 3fr;
    }
}
@media screen and (min-width: 1368px) {
    html {
        font-size: 20px;
    }
    .app {
        max-width: 1300px;
        grid-template-columns: 3fr 4fr;
        grid-gap: 6rem;
    }
    .app > section {
        padding: 2rem 3rem 1rem;
    }
    .numbers-display p {
        min-height: 10rem;
        font-size: 9rem;
    }
}