body {
    background-color: #222;
    font-family: sans-serif;
    font-size: 20px;
}

form {
    display: grid;
    max-width: 500px;
    margin: 5rem auto;
    padding: 2rem;
    background-color: #999;
}

form button[type='submit'] {
    margin: 2rem auto 0;
}

.app {
    padding: 2rem;
    background-color: teal;
}